body {
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 0;
}

.wrapper {
    max-width: 52rem;
    margin: 0 auto;
    padding: 1rem;
}


.content-box-heading {
    font-size: 1.75rem;
}

.logo {
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin: 0.5rem 0 0;
}

.byline {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 1rem;
}

.site-header {

}

.site-footer {
    background-color: #f5f8fa;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.content-box {
    margin: 3rem 0;
}

a {
    color: #1F98C7;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 25rem) {
    .logo {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .content-box-heading {
        margin: 0.5rem 0;
    }
}