body {
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 0;
}

.wrapper {
    max-width: 60rem;
    margin: 2rem auto 0 auto;
    padding: 1rem;
}

.content-wrapper {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.content-box--about {
    flex: 2 1 33rem;
    margin: 2rem 3rem 2rem 0;
}

.content-box--sidebar {
    flex: 1 1 17rem;
    margin-top: 2rem;
}

.content-box--heading {
    font-size: 1.75rem;
}

.content-box--sidebar .content-box--heading {
    margin-top: 3rem;
}

.content-box--about .content-box--heading {
    margin-top: 0;
}

.content-box--list {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    padding-left: 0;
}

.logo {
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin: 0.5rem 0 0;
}

.byline {
    margin: 0.5rem 0;
    font-style: italic;
    font-size: 1rem;
}

.site-header {
    border-bottom: 1px solid #000;
}

.site-footer {
    background-color: #f5f8fa;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.author-image {
    border-radius: 50px;
    margin: -2px 1rem 0 0;
    width: 100px;
    float: left;
    margin-right: 1rem;
}

.book-list-link {
    align-items: center;
    display: flex;
    margin: 0 0 2rem 0;
}

.book-title {
    display: block;
}

.book-thumbnail {
    margin-right: 1rem;
    width: 72px;
}

a {
    color: #1F98C7;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 25rem) {

    .wrapper {
        margin: 0 auto;
    }

    .logo {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .content-box-heading {
        margin: 0.5rem 0;
    }
}
